{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<body class="body_home">

<div class="example-wrapper">
    <h1 class="text-success">Hello {{ controller_name }}! ✅</h1>


</div>
</body>
{% endblock %}
