<h1 class="text-center">Création de votre compte !</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ url('confirm_account', {"token": token}) }}">Cliquer ici pour activer votre compte</a>
    <hr>
</p>

<p>
    Cordialement,
</p>
