<div id="carouselExampleInterval " class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{{ asset('images/image1.png') }}" class="banniere_img" alt="Image1">
            <div class="carousel-caption d-none d-md-block text-danger top-position ">
                <h5 class="title_snowboard font-roboto bg-position-sentence-carrousel">En plein démonstration </h5>
            </div>
        </div>
    </div>
</div>