<form method="post" action="{{ path('groupe_figure_delete', {'id': groupe_figure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ groupe_figure.id) }}">
    <button class="btn">Delete</button>
</form>
