<form method="post" action="{{ path('figure_delete', {'id': figure.id}) }}" onsubmit="return confirm('êtes-vous sûre de vouloir supprimer cet element?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figure.id) }}">
    <button class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
</form>
