<h1>Bonjour,</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquez sur le lien suivant</p>

<a href="{{ url('resetpassword_email', {"token": token}) }}">Cliquer ici pour réinitialiser mon mot de passe</a>

<p>Cordialement!</p>
