{% extends 'base.html.twig' %}

{% block title %}Edit ImageFigure{% endblock %}

{% block body %}
    <h1>Edit ImageFigure</h1>

    {{ include('image_figure/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('image_figure_index') }}">back to list</a>

    {{ include('image_figure/_delete_form.html.twig') }}
{% endblock %}
